---
Checks:            "\
boost-*,\
bugprone-*,\
cert-*,-cert-dcl16-c,\
clang-analyzer-core*,\
clang-analyzer-cplusplus*,\
clang-analyzer-deadcode*,\
clang-analyzer-nullability*,\
clang-analyzer-optin.cplusplus*,\
clang-analyzer-optin.performance*,\
clang-analyzer-optin.portability*,\
clang-analyzer-security*,\
clang-analyzer-unix*,\
clang-analyzer-valist*,\
clang-diagnostic-*,-clang-diagnostic-nonportable-system-include-path,\
google-*,-google-runtime-references,\
hicpp-*,-hicpp-avoid-c-arrays,\
llvm-*,-llvm-include-order,-llvm-qualified-auto,-llvm-header-guard,\
misc-*,-misc-non-private-member-variables-in-classes,\
modernize-*,-modernize-avoid-c-arrays,\
nullability-*,\
performance-*,\
portability-*,\
readability-*,-readability-magic-numbers\
"
WarningsAsErrors:  ''
HeaderFilterRegex: '^.*ThrEd4\\ThrEd4\\(?!Resources\\).*\.(h|hxx|cxx)$'
FormatStyle:       'file'
User:              dwilkins
