# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        # Add additional configuration types to build here.
        # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
        #configuration: [Debug, Release]
        configuration: [Release]
        platform: [x86, x64]
        include:
          - platform: x86
            triplet: x86-windows-static
            path:
          - platform: x64
            triplet: x64-windows-static
            path: x64\

    env:
      # Path to the solution file relative to the root of the project.
      SOLUTION_FILE_PATH: .

      # Configuration type to build.
      BUILD_CONFIGURATION: ${{ matrix.configuration }}
      BUILD_PLATFORM: ${{ matrix.platform }}
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
      VCPKG_INSTALLED_DIR: ${{ github.workspace }}\vcpkg_installed
      OUT_PATH: ${{ github.workspace }}\${{ matrix.path }}${{ matrix.configuration }}

    runs-on: windows-latest

    steps:
      - name: Run checkout action
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0

      - name: Install vcpkg
        uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5
        with:
          doNotCache: true
          runVcpkgInstall: true

      #- name: Check Installed Packages
      #  run: Get-ChildItem -Recurse -Path ${{ github.workspace }}

      - name: Build
        working-directory: ${{ github.workspace }}
        # Add additional options to the MSBuild command line here (like platform or verbosity level).
        # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
        run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:Platform=${{env.BUILD_PLATFORM}} ${{env.SOLUTION_FILE_PATH}}

      - name: Upload logs artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-logs-${{env.BUILD_CONFIGURATION}}-${{env.BUILD_PLATFORM}}.zip
          path: |
            **/*.log
          retention-days: 7
          if-no-files-found: ignore

      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ThrEd4-${{env.BUILD_CONFIGURATION}}-${{env.BUILD_PLATFORM}}.zip
          path: ${{env.OUT_PATH}}\Thred4.exe
